src/main/java/mypackage/actorsSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ActorCast">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Cast" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Character">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="FirstName"/>
                                        <xs:element type="xs:string" name="LastName"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Actor">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="FirstName"/>
                                        <xs:element type="xs:string" name="LastName"/>
                                        <xs:element type="xs:string" name="BirthDay"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="id" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>